<h1>Products</h1>

<%= link_to 'Most Recent', {:controller => "products", :action => "index", :filter => "mostRecent" } %>  |
<%= link_to 'Alphabetical', {:controller => "products", :action => "index", :filter => "alphabetical" } %>  |
<%= link_to 'Local (USA)', {:controller => "products", :action => "index", :filter => "local" } %> |
<%= link_to 'Most Reviews', {:controller => "products", :action => "index", :filter => "most_reviews" } %>


<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %> - from: <%= product.country %> - Average Rating:
      <%= number_with_precision(product.average_rating, :precision => 2) %>
  <% end %>
</ul>


<%= link_to "New Product", new_product_path %>


<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @posts, :container => false %>
</div>
